<a href="https://colab.research.google.com/github/kiselpd/HW2_ML/blob/main/4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import seaborn as sns
import time
from sklearn.datasets import make_classification
import matplotlib.pyplot as plt
%matplotlib notebook

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
X = pd.read_csv("/content/drive/MyDrive/GoogleColab/HW2/weather.csv")
X.head()

,Unnamed: 0,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [5]:
y = X.RainTomorrow.replace({'No':0, 'Yes': 1})
del X['RainTomorrow']

In [6]:
theta = np.array([1, 2, 3])

X_data =  np.array([[ 1,  1, 1],
               [-1, -2, 1],
               [-1, -2, 2],
               [-2, -2, -3]
              ])

y_data = np.array([1, 1, -1, -1])

In [7]:
def probability(theta, X):
    result = 1/(1+np.e**(-np.dot(X, theta)))
    return result
prob = probability(theta, X_data)

assert type(prob) == np.ndarray, 'Возвращается неверный тип'
assert prob.shape == (X_data.shape[0],), 'Неверный размер массива'
assert (prob.round(3) == [0.998, 0.119, 0.731, 0.]).all(), 'Функция считается неверно'
prob

array([9.97527377e-01, 1.19202922e-01, 7.31058579e-01, 3.05902227e-07])

In [9]:
def binary_class_prediction(theta, X, threshold =.5):
    prob =  probability(theta, X)
    result = np.where(prob < threshold, -1, 1)
    return result

y_pred = binary_class_prediction(theta, X_data)

assert type(y_pred) == np.ndarray, 'Возвращается неверный тип'
assert y_pred.shape == (X_data.shape[0],), 'Неверный размер массива'
assert min(y_pred) == -1, 'Функция считается неверно'
assert max(y_pred) == 1, 'Функция считается неверно'
y_pred

array([ 1, -1,  1, -1])

In [ ]:
def logloss(theta, X, y): 
    result =0
    for i, X_vector in enumerate(X):
      result=result+np.log(1+np.e**(-y[i]*np.dot(theta, X_vector)))
    return result/np.size(y)

    assert logloss(theta, X_data, y_data).round(3) == 0.861, 'Функция считается неверно'

In [ ]:
def gradient(theta, X, y):
    
    
    return result 

assert gradient(theta, X, y).shape == theta.shape, 'Неверный размер массива'